<!doctype html>
<html>
    <head>
        <meta name="google-signin-client_id" 
              content="607236860513-esmluht9bgt7bvdeu8i685a67414pg37.apps.googleusercontent.com">
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>
    <body>
        <p>Hi Megan, you made it!</p>
        <div class="g-signin2" 
         data-onsuccess="onSignIn"
         data-onfailure="onSignInFailure"
         style='display:none;'>
        </div>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <a href="/logout" onclick="signOut();">Sign out</a>
        <script>
          function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
          }
        </script>
    </body
</html