<!doctype html>
<html>
    <head>
        <meta name="google-signin-client_id" 
              content="607236860513-esmluht9bgt7bvdeu8i685a67414pg37.apps.googleusercontent.com">
        <link href="/static/style.css" rel="stylesheet"></link>
        <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>
    <body>
        <div class="week-chart">
            <canvas id="lineChart" width="400" height="200"></canvas>
            <div id="lineLegend" class="chart-legend"></div>
        </div>
        <script>
            // chart
            var ctx_line = $("#lineChart").get(0).getContext("2d");

            $.get("/weekly.json", function (data) {

              var myLineChart = new Chart(ctx_line).Line(data, 
                  { responsive: true,
                    maintainAspectRatio: true,
                    scaleOverride:true,
                    scaleSteps:5,
                    scaleStartValue:0,
                    scaleStepWidth:1 });

              $("#lineLegend").html(myLineChart.generateLegend());
            });

            $("#lineChart").click(function(e) {
               console.log("pushed button!")
               window.location.assign("/breakdown")
            });

        </script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>  
    </body>
</html>