<!doctype html>
<html>
    <head>
        <link href="/static/style.css" rel="stylesheet"></link>
        <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>
    <body>
        <div>
           {% for event_obj in wfh_next_week %}
                <br>Event: {{ event_obj.summary }}
                <br>Start time: {{ event_obj.start }}
                <br>End time: {{ event_obj.end }}
                <br># of Attendees: {{ event_obj.calevents | length }}<br>
           {% endfor %}
        </div>
<!--         <div>
           {% for event_obj in wfh_next_week %} -->
              <!--   {% for calevent in event_obj.calevents %}
                    <br>Attendee: {{ calevent.calendar_id }} -->
             <!--    {% endfor %} -->
      <!--      {% endfor %}
        </div> -->
        <div class="week-chart">
            <canvas id="lineChart" width="400" height="200"></canvas>
            <div id="lineLegend" class="chart-legend"></div>
        </div>
        <script>
            // chart
            var ctx_line = $("#lineChart").get(0).getContext("2d");

            $.get("/weekly.json", function (data) {

              var myLineChart = new Chart(ctx_line).Line(data, 
                  { responsive: true,
                    maintainAspectRatio: true,
                    scaleOverride:true,
                    scaleSteps:5,
                    scaleStartValue:0,
                    scaleStepWidth:1 });

              $("#lineLegend").html(myLineChart.generateLegend());
            });
        </script>
    </body>
</html>